@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}


.glassmorphic-box {
  box-shadow   : 6px 6px 12px #c5c5c5, -9px -9px 12px white ;
  border-left: solid white 2px;
}
.glassmorphic-box:hover{   
  box-shadow   : 6px 6px 30px #c5c5c5, -9px -9px 20px white ;
  border-left: solid white 2px;
}
@keyframes slow-ping {
    0% {
      transform: scale(0.8);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  .slow-ping {
    animation: slow-ping 2s infinite; /* Adjust duration here */
  }





  .floating-balls-container {
    width: 100vw;
    height: 100vh; /* Adjust height as needed */ /* Container background color */
    overflow: hidden;
    /* background-color: aqua; Ensure balls stay inside the container */
  }


  @keyframes scroll-horizontally {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll-horizontally {
    display: flex;
    animation: scroll-horizontally 20s linear infinite;
  }

  .overflow-hidden:hover .animate-scroll-horizontally {
    animation-play-state: paused;
  }

  .cb1{
    accent-color: #9b59b6;
  }





.Perspective-parent {
  perspective: 1000px;
}

.Perspective-child {
  transform: rotatex(0deg);
}

.Perspective-child:hover {
  transform: rotate3d(1, 0, 0, 5deg);
}